@font-face {
  font-family: overfont;
  src: url("../font/overfont.ttf");
}

@font-face {
  font-family: italoverfont;
  src: url("../font/italoverfont.ttf");
}

@font-face {
  font-family: geo;
  src: url("../font/geo.ttf");
}

@font-face {
  font-family: italogeo;
  src: url("../font/italogeo.ttf");
}

*{
  margin: 0;
  padding: 0;
}

header{
  height: 280px;
  width: 100%;
  background-color: #434848;
}

.upheader{
  height: 75%;
  display: flex;
  align-items: center;
}

.upHeaderContainer{
  height: 60%;
  width: 100%;
  display: flex;
}

.idArea{
  flex: 1;
  display: flex;
}

.leftSide{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.playerIcon{
  height: 83%;
  width: 75%;
  position: relative;
  border: solid 1px #B2B0B0;
  border-radius: 4px;
}

.leftSide img{
  height: 100%;
  width: 100%;
  z-index: 1;
}

.playerLevel{
  height: 35%;
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  background-color: rgba(255, 255, 255, .5);
  z-index: 2;
}

.playerLevel span{
  font-family: geo;
  font-weight: bolder;
}

.mainSide{
  flex: 4;
  height: 80%;
  display: flex;
  margin: auto;
}

.titleArea{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1{
  font-family: italoverfont;
  font-size: 40px;
  letter-spacing: 0.05em;
  font-weight: 550;
  color: #F99E1A;
  text-shadow: #C47D15 1px 1px, #C47D15 0 0, #C47D15 0 0, #C47D15 0 0;
}

.plformArea{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.plformArea h2{
  margin-top: .5em;
  font-family: geo;
  font-weight: 800;
  font-size: 20px;
}

.statArea{
  flex: 1;
  display: flex;
  align-items: center;
}

.statContainer{
  height: 80%;
  width: 90%;
  margin-top: 2%;
  display: flex;
}

.statZone{
  flex:1;
  display: flex;
  flex-direction: column;
}

.playerInfo{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: overfont;
  font-size: 25px;
  color: #F99E1A;
}

.rankIconArea{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rankIconArea img{
  height: 80%;
  width: 80%;
}

.rankNumberArea{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleZone{
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: geo;
  font-size: 18px;
  font-weight: 700;
}

.downheader{
  height: 25%;
  display: flex;
  background-color: #B2B0B0;
}

.headerNavArea{
  flex:1;
  display: flex;
  background-color: lightblue;
}

.switcherModeArea{
  flex: 1;
  background-color: lightgreen;
}
